/*-------------------------------------------------------*\
    Base
/*-------------------------------------------------------*/
body {
	background:$bg;
	word-wrap: break-word;
}

html,body{
    height:100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a {
    word-break: break-all;
}