/*-------------------------------------------------------*\
    Typography
/*-------------------------------------------------------*/
html {
	font-family: $gothic;
	line-height: 1.7;
	font-size: 14px;
	font-weight: 300;
}

@media screen and (min-width : 768px) {
	html {
		font-size: 14px;
	}
}

@media screen and (min-width : 1024px) {
	html{
		font-size: 16px;
	}
}

.gothic {
font-family: 'Noto Sans JP', $gothic;
} 

.mincho {
font-family: $mincho;
}
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
 
/* --------------------------------------------------------------------------------------
 HEAD LINE 
--------------------------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {
	margin-bottom: 0.5em;
	font-weight: normal;
}
h1 {
	font-size: 1.5em;
	line-height: 1.5;
}

h2 {
	font-size: 1.3333em;
	line-height: 1.3333;
}

h3 {
	font-size: 1.25em;
	line-height: 1.3333;
}

h4,h5,h6 {
	font-size: 1.15em;
	line-height: 1.5;
}



// Default - Scale is 3:4 perfect fourth
// 550px > - Scale is 2:3 perfect fifth

/*
h1 {

    font-size: 33px;
    font-size: 3.3rem;
    line-height: 1.273;
    margin-top: 42px;
    margin-top: 4.2rem;
    margin-bottom: 21px;
    margin-bottom: 2.1rem;

    @include break-at(640px) {

        font-size: 54px;
        font-size: 5.4rem;
        line-height: 1.333;
        margin-top: 48px;
        margin-top: 4.8rem;
        margin-bottom: 24px;
        margin-bottom: 2.4rem;

    }

    @include break-at(1200px){

        font-size: 64px;
        font-size: 6.4rem;
        line-height: 1.406; 
        margin-top: 60px;
        margin-top: 6rem;
        margin-bottom: 30px;
        margin-bottom: 3rem;

    }

}

h2 {

    font-size: 25px;
    font-size: 2.5rem;
    line-height: 1.680;
    margin-top: 42px;
    margin-top: 4.2rem;
    margin-bottom: 21px;
    margin-bottom: 2.1rem;

    @include break-at(640px) {

        font-size: 36px;
        font-size: 3.6rem;
        line-height: 1.333;
        margin-top: 48px;
        margin-top: 4.8rem;
        margin-bottom: 24px;
        margin-bottom: 2.4rem;

    }

    @include break-at(1200px) {

        font-size: 43px;
        font-size: 4.3rem;
        line-height: 1.395;
        margin-top: 60px;
        margin-top: 6rem;
        margin-bottom: 30px;
        margin-bottom: 3rem;

    }

}

h3 {

    font-size: 19px;
    font-size: 1.9rem;
    line-height: 1.105; 
    margin-top: 21px;
    margin-top: 2.1rem;
    margin-bottom: 21px;
    margin-bottom: 2.1rem;

    @include break-at(640px) {

        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1; 
        margin-top: 24px;
        margin-top: 2.4rem;
        margin-bottom: 24px;
        margin-bottom: 2.4rem;

    }

    @include break-at(1200px) {

        font-size: 29px;
        font-size: 2.9rem;
        line-height: 1.034;
        margin-top: 30px;
        margin-top: 3rem;
        margin-bottom: 30px;
        margin-bottom: 3rem;

    }
}

h4 {

    font-size: 19px;
    font-size: 1.9rem;
    line-height: 1.105;
    margin-top: 21px;
    margin-top: 2.1rem;
    margin-bottom: 21px;
    margin-bottom: 2.1rem;

    @include break-at(640px) {

        font-size: 19px;
        font-size: 1.9rem;
        line-height: 1.105; 
        margin-top: 21px;
        margin-top: 2.1rem;
        margin-bottom: 21px;
        margin-bottom: 2.1rem;

    }

    @include break-at(1200px) {

        font-size: 24px;
        font-size: 2.4rem;
        line-height: 24px;
        line-height: 2.4rem;
        margin-top: 24px;
        margin-top: 2.4rem;
        margin-bottom: 24px;
        margin-bottom: 2.4rem;

    }

}

h5 {

    font-size: 19px;
    font-size: 1.9rem;
    line-height: 1.105; 
    margin-top: 21px;
    margin-top: 2.1rem;
    margin-bottom: 21px;
    margin-bottom: 2.1rem;

    @include break-at(640px) {

        font-size: 19px;
        font-size: 1.9rem;
        line-height: 1.105; 
        margin-top: 21px;
        margin-top: 2.1rem;
        margin-bottom: 21px;
        margin-bottom: 2.1rem;

    }

    @include break-at(1200px) {

        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1; 
        margin-top: 24px;
        margin-top: 2.4rem;
        margin-bottom: 24px;
        margin-bottom: 2.4rem;

    }

}


h6 {

    font-size: 19px;
    font-size: 1.9rem;
    line-height: 1.105; 
    margin-top: 21px;
    margin-top: 2.1rem;
    margin-bottom: 21px;
    margin-bottom: 2.1rem;

    @include break-at(640px) {

        font-size: 19px;
        font-size: 1.9rem;
        line-height: 1.105; 
        margin-top: 21px;
        margin-top: 2.1rem;
        margin-bottom: 21px;
        margin-bottom: 2.1rem;

    }

    @include break-at(1200px) {

        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1; 
        margin-top: 24px;
        margin-top: 2.4rem;
        margin-bottom: 24px;
        margin-bottom: 2.4rem;

    }

}

p, ul, ol, pre, table, blockquote {

    margin-top: 21px;
    margin-top: 2.1rem;
    margin-bottom: 21px;
    margin-bottom: 2.1rem;

    @include break-at(640px) {

        margin-top: 24px;
        margin-top: 2.4rem;
        margin-bottom: 24px;
        margin-bottom: 2.4rem;

    }

    @include break-at(1000px) {

        margin-top: 30px;
        margin-top: 3rem;
        margin-bottom: 30px;
        margin-bottom: 3rem;

    }

}

p, ul, ol, pre, table, blockquote {

    margin-top: 21px;
    margin-top: 2.1rem;
    margin-bottom: 21px;
    margin-bottom: 2.1rem;

}    


hr {

    border: 0;
    height: 0;
    border-top: 0;
    border-bottom: 1px solid rgba(233, 233, 233, 1);

}
ul ul, ol ol, ul ol, ol ul {

    margin-top: 0;
    margin-bottom: 0;

}
b, strong, em, small, code {

    line-height: 1;

}
sup, sub {

    vertical-align: baseline;
    position: relative;
    top: -0.4em;

}
sub {

    top: 0.4em;

}
*/
