
/*-------------------------------------------------------*\
    Variables
/*-------------------------------------------------------*/
//GENERAL COLORS
$blk: #000;
$paleGray: #FBFBFA;
$lightGray: #e0e0e0;
$darkGray: #444444;
$red: #da3413;
$gray: #ccc;
$wht: #fff;
$lightBrown:#eae8da;
$pink:#ff007e;

// COLOR SETTINGS
$primaryColor: #1590b8;
$secondaryColor: #fff600;
$tertiaryColor: #ffde00;
$effectColor: #f6ff00;

// LINK COLOR
$primaryLink: #ff9c08;

//BORDER COLOR
$border:#e6e3db;

//BG COLOR
$bg: $wht;
$footerBg: $darkGray;
$catBg: #ff007e;
$navBg: $wht;
$bread-crumb-bg: #1c1c1c;
$bodyBg: #fff;
$formBg: #eeeeee;

//TEXT COLOR
$txtColor: #333;
$titColor: #000;

$secondaryTxtColor: $wht;
$adressColor: #818181;


//ボタン関係
$buttonBg:$primaryColor;
$buttonHoverBg: #2e2e2e;
$buttonColor:rgba(255, 255, 255, 1);
$buttonHoverColor: rgba(100, 100, 100, 0.8);
$buttonBorder: rgba(0,0,0,.15);

$primaryButtonBg: #ffc000;
$primaryHoverBg: #ffa200;
$primaryButtonColor: rgba(0, 0, 0, 0.8);

$secondaryButtonBg: rgba(0, 0, 0, 0.8);
$secondaryButtonColor: rgba(0, 0, 0, 0.8);

//ICONS
$angle-right: "\f105";


// path
$img_path: "../img";
$font_path: "../fonts";

//types
$gothic: 'Lato', 'Hiragino Kaku Gothic ProN', '游ゴシック', YuGothic, Meiryo, sans-serif;
$mincho: 'Times New Roman', '游明朝', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
$scriptType: 'Pacifico', cursive;
$fontAwesome: "FontAwesome";

//見出し関係
$circleIcon: "\f1db";
$phoneIcon: "\f098";
$commentIcon: "\f075";
$plusIcon: "\f067";
$minusIcon:"\f068";
$squareIcon:"\f0c8";
$angleRight: "\f105";
$clock: "\f017";
$twitter: "\f099";
$facebook: "\f09a";
$gplus: "\f0d5";
$pinterest: "\f231";
$instagram: "\f16d";
$heart: "\f08a";
$view: "\f06e";
$comment: "\f0e5";


//サポートブラウザの設定
$support-ie6: false;
$support-ie7: true;
$support-ie8: true;
$support-ie9: true;
$support-mozilla: true;
$support-webkit : true;
$support-opera  : true;

// Width
$widthPC: 1024px; //PC
$widthTab: 768px; //タブレット
$widthSP: 568px; //スマートフォン
//画面サイズ
$primaryWidth: 1040px;
$secondaryWidth: 700px;
$widthMaximum: 1040px;

