@import './_variables.scss';
@import './_normalise.scss';
@import './_base.scss';
@import './_type.scss';

.win,.lose,.draw {
    display: none;
}

.show {
    display: block;
}

.hide {
    opacity: 0.4;
    transition:all 0.3s;
}

.first-view {
    background-color: #fcff00;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: table;
}


.handle-btn {
    max-width: $secondaryWidth;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    li {
        width: 33.3333%;
        cursor: pointer;
        box-sizing: border-box;
        img {
            padding: 2em;
        }
    }
}

.inner {
    display: table-cell;
    max-width: $widthMaximum;
    margin: 0 auto;
    padding: 4%;
    vertical-align: middle;
}
h1.title {
    font-size: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
    background: $wht;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 32px;
        padding: 0 4%;
    }
}

.scores {
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 100%;
    text-align: right;
    dt,dd {
        display: inline-block;
    }
    dt {
        font-weight: bold;
    }
    dd {
        
    }
}
.show {
    display: block;
    opacity: 1;
    animation-duration: 0.8s;
    animation-name: fade-in;
    -moz-animation-duration: 0.8s;
    -moz-animation-name: fade-in;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-name: fade-in;
}

.result {
    height: 15vh;
    margin-bottom: 4vh;
}

.pc {
    margin-bottom: 4vh;
}

.win-section {
    width: 100%;
    height: 100%;
    background: #e21e9f;
    position: absolute;
    top: 0;
    left: -100%;
    display: flex;
    align-items: center;
    .sec-inner {
        width: 100%;
        h1 {
            text-align: center;
            color: $wht;
        }
    }
}

.remove {
    position: absolute;
    right: 1rem;
    bottom: 0;
    &::before {
        content: "\f00d";
        font-family: 'FontAwesome';
        font-size: 3rem;
        color: $wht;
    }
}



div.wrap {
    position: relative;
}

.win-result {
    font-size: 8rem;
    font-weight: bold;
}